<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="TwitterConsumerKey" value="HAzL5LApwSj12OW5lcNO3TvFr" />
    <add key="TwitterConsumerSecret" value="NxV1U2Q1lyu22v2J9WFVd0jsFvGc5kFnMY0DuHenpncjMk3zlc" />
    <add key="TwitterAccessToken" value="856809336802340868-bTXVJAJbxCBJPygDllf9W8kmzXvKkGz" />
    <add key="TwitterAccessTokenSecret" value="UBdYRjKa8c44poVNCtyQXCTEc9xp6nkZYjV9zKzM3N0Ap" />
  </appSettings>
</configuration>
